<!-- <div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Recommended</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{movie.id}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.description}}</td>
        <td>{{movie.recommended}}</td>
      </tr>
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary" (click)="goBackToList()">Go Back</button>
</div> -->
<div class="container">
  
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4">{{movie.title}}</h1> 
    </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <img src="{{movie.imgURL}}" alt="">
      <h6> {{movie.title}} Poster(above)</h6>
    </div>
    <div class="col-md-6">
      <p>
      {{movie.description}}
      </p>
           <div class="row">
            <div class="col-md-6">
              <h5>Rating: </h5>
              <h5>Genre: </h5>
              <h5>Recommended?: {{movie.recommended}}</h5>
            </div>
            <div class="col-md-6">
              <h5>Cast:</h5>
            </div>
          </div>
          <br>
          <br>
          <button type="submit" class="btn btn-success">
            Add To Watch Later
          </button>
          &nbsp;
          <button type="submit" class="btn btn-warning">
            Add To Favorites
          </button>

          </div>
  </div>
</div>